//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================


$primary: #0052cf;
$dark : #000;
$danger: #ff0000;
$success: #00682f;

$taskPending: #ab0001;
$taskCompleted: #0052cf;
$taskApproved: #00682f;


$darkGray: #4f616e;
$lightGray: #b5c1c9;
$activeGray: #2d373e;
$whiteGray: #e3e6ea;
$gray: #d3dadf;
$white: #ffffff;

$headings-color: #000000 !default;